.cal {
  
  display: flex;
    flex-flow: column;
    justify-content: center;
    /* align-items: center; */
    height: 120vh;
    width: 100%;
    text-align: center;
    /* width: 500px; */
    /* height: 500px; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    max-width: 500px;
    /* height: 400px; */
    border: 1px solid white;
    /* background-color: white; */
    /* box-shadow: 2px 2px 1px gainsboro; */
    margin: auto;
    align-content: center;

  }
  
  